{
  "version": "1.1.0",
  "files": [
    {
      "name": "eFiscal.Shared.dll",
      "url": "https://github.com/jovovicmilos/test/blob/5325d1765db013dbebf0449f36252f6f96aecc1a/eFiscal.Shared.dll"
    },
    {
      "name": "eFiscalTray.exe",
      "url": "https://github.com/jovovicmilos/test/blob/5325d1765db013dbebf0449f36252f6f96aecc1a/eFiscalTray.exe"
    }
  ]
}
